html
    head
        title User Listing
    body
        h1 List of Users
        table(style='width:50%', border='1')
            tr
                th first Name
                th last Name
                th Email
                th Age
                th Edit
                th Delete
                th ID
            each newuser in whatever
                tr
                    td= newuser.first_name
                    td= newuser.last_name
                    td= newuser.email
                    td= newuser.age 
                    td
                        a(href=`/edit/${newuser.user_id}`) Edit
                    td
                        a(href=`/deleteUser/${newuser.user_id}`) Delete
                    td= newuser.user_id
        div
            a(href=`/asc/`) Sort Ascending
        div
            a(href=`/dsc/`) Sort Descending
        div
            a(href="/") Add a New User
        div
            a(href="/search") Search for a user
                